.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
}
  
.logo:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-image: url('../assets/fundo_header.svg');
  border-bottom: 0.5em solid #DB520A;
  height: 10%;
  width: 100%;
  padding: 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left:10em
}

.sair {
  margin-right: 5em;
}