/* Importa a fonte Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --cor-texto-titulo: #f5dfb6;
  --cor-fundo: #325460;
  --gradiente-fundo: linear-gradient(
    180deg,
    rgba(50, 84, 96, 1) 32%,
    rgba(230, 116, 4, 1) 100%
  );
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: var(--cor-fundo);
  background: var(--gradiente-fundo);
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin: 0 0;
  font-weight: 800;
  color: var(--cor-texto-titulo);
}

h2 {
  font-size: 2em;
  margin: 0.5em 0;
  font-weight: 600;
  color: var(--cor-texto-titulo);
}
