.navBar {
  width: 65%;
  background-color: #f4a831;
  margin: 1em 0 1em 4em;
  border-radius: 10px;
  padding: 0.5em;
}

.navBarItens {
  display: flex;
  justify-content: space-around;
}

.navBarItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
  font-size: 25px;
  padding: 0.5em;
  border-radius: 10px;
  gap:1em;
}

.navBarItem.active {
  background-color: #FF8C00;
}

.navBarItem img {
  width: 40px;
}
