#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.bandeiras {
  width: 100%;
  margin-top: 2em;
}
