.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

header {
  display: flex;
  justify-content: space-between;
  background-image: url('../../assets/fundo_header.svg');
  border-bottom: 0.5em solid #db520a;
  height: 10%;
  padding: 1rem 5rem;
  align-items: center;
  gap: 1em;
}

.pesquisaContainer {
  width: 100%;
  display:flex;
  background-color: #f5dfb6;
  border-radius: 50px;
  border: 1px solid #db520a;
  padding: 0.5em 1em;
  align-items: center;
}

.botoes {
  display: flex;
  gap: 1em;
}

.filtrar, .sair {
  width: 45px;
}

.iconePesquisar, .iconeLimpar {
  width: 30px;
}

.iconePesquisar {
  margin-left: 1em;
}

.botaoLimpar {
  display: none;
  margin-right: 0.5em;
}

#inputPesquisa {
  width: 100%;
  height: 85%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: poppins, sans-serif;
  font-size: 32px;
  color: #1e1e1e;
  padding-left: 1em;
  margin-right: 0.5em;
}

#inputPesquisa::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

#inputPesquisa:focus {
  outline: none;
}

#inputPesquisa::placeholder {
  font-family: poppins, sans-serif;
  font-size: 32px;
}

#inputPesquisa:focus-within .botaoLimpar {
  display: block;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 10em;
}

.logoContainer {
  margin-left: 2em;
}

@media (max-width: 1024px) {
  .logoContainer {
    margin-left: 5em;
  }
}

@media (max-width: 768px) {
  .logoContainer {
    margin-left: -2em;
  }
  .sair {
    width: 3em;
  }
}
