.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

header {
  display: flex;
  justify-content: space-between;
  background-image: url('../../assets/fundo_header.svg');
  border-bottom: 0.5em solid #db520a;
  height: 10%;
  padding: 1rem 5rem;
  align-content: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 10em;
}

.logoContainer {
  margin-left: 8em;
}

@media (max-width: 1024px) {
  .logoContainer {
    margin-left: 5em;
  }
}

@media (max-width: 768px) {
  .logoContainer {
    margin-left: -2em;
  }
  .sair {
    width: 3em;
  }
}
